@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
.{
    padding:0;
    margin:0
    box-sizing:border-box;

}
:root{
    --primary-color:#ff7613;
    --text-color:#727171;
}

html{
    font-size:10px;
}
img{
    width: 100%;
    border-radius: 50%;
    position: relative;
    left:1000px;
    margin-top: 10px;
    border: 2px solid #fff ;
    
}
body{
    font-family:Inter, sans-serif;
    background-color: #9c1a1a;
    color:white;
}
